<div class="widget">
  <button
    class="floating-core"
    type="button"
    (mousedown)="onMouseDown($event)"
    (mousemove)="onMouseMove($event)"
    (click)="toggle()"
    aria-label="Open Notificator"
  >
    <span class="hud-ring hud-ring-outer"></span>
    <span class="hud-ring hud-ring-mid"></span>
    <span class="hud-ring hud-ring-inner"></span>

    <span class="arc arc-top"></span>
    <span class="arc arc-bottom"></span>

    <!-- <span class="tech-mark mark-left"></span>
    <span class="tech-mark mark-right"></span> -->

    <span class="scan-dot"></span>

    <span class="core-glow"></span>

    <strong>17</strong>

    <span class="status-dot"></span>
  </button>
</div>
